.empty-wishlist-section {
  margin: 5rem;
}

.your-wishlist-h2 {
  color: #ff2f63;
  border-bottom: 2px solid red;
  width: 8%;
}

.empty-wishlist-container {
  background-color: #ffb6c8;
  height: 60dvh;
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.empty-wishlist {
  /* position: relative; */
  /* width: 100%; */
}

.wishlists-h2 {
  font-size: 4rem;
  padding-top: 3rem;
  color: #ff2f63;
}

.wishlists-h3 {
  font-size: 2.5rem;
  color: #ff2f63;
}

.create-wishlist-btn {
  padding: 0.6rem 2rem;
  background-color: #fb4573;
  color: #ffe5ec;
  font-weight: 500;
  margin: 2rem;
  border: none;
  border-radius: 2em;
  cursor: pointer;
}

.create-wishlist-btn:hover {
  opacity: 0.8;
}

.create-wishlist-line {
  background-color: #fb4573;
  height: 1px;
  border: none;
}

.new-wishlist-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.384);
}

.new-wishlist {
  width: 30%;
  z-index: 100;
}

.new-wishlist-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fb4573;
}

.new-wishlist-close-p {
  cursor: pointer;
  color: rgb(70, 0, 0);
}

.new-wishlist-form {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  text-align: left;
  gap: 0.5rem;
  padding: 2rem;
  background-color: #ffb6c8;
}

.new-wishlist-input {
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
}

.new-wishlist-input:focus {
  outline: 1px solid red;
}

.new-wishlist-btn-container {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.new-wishlist-cancel-btn,
.new-wishlist-create-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #fb4573;
  cursor: pointer;
  color: #ffe5ec;
  margin: 0.5rem;
}

.new-wishlist-cancel-btn:hover,
.new-wishlist-create-btn:hover {
  opacity: 0.8;
}

.wishlist-uses-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  gap: 5rem;
}

.wishlist-uses {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.wishlist-logo {
  font-size: 5rem;
  color: #ff2f63;
}
