/* UTILITY CLASS */
a {
  text-decoration: none;
}

.hidden {
  display: none;
}

/* NORMAL CLASS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffe5ec;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  border-bottom: 1px solid #fb4573;
}

.logo-container {
  display: flex;
  gap: 1em;
  align-items: center;
}

.logo {
  font-size: 3rem;
  color: #fb4573;
  margin: 0.5em 1em;
}

.slogan {
  padding: 1.2em 1.5em;
}

.people-slogan {
  display: block;
  line-height: 1.5em;
  color: #fb4573;
}

.books-search {
  padding: 0.5em 3em;
  width: 50%;
  background-image: url("./assets/search-img.jpg");
  background-size: 1.5rem;
  background-position: 0.3rem;
  background-repeat: no-repeat;
  border: 1px solid #fb4573;
  border-radius: 3rem;
  outline: none;
}

.btns-container {
  display: flex;
  padding-top: 0.5rem;
}

.icons {
  font-size: 1.5rem;
  padding: 0 1rem;
  color: #fb4573;
  position: relative;
}

.icons:nth-child(2) {
  font-size: 1.8rem;
}

.icons:last-child {
  font-size: 2rem;
  padding-right: 2rem;
}

.profile-container {
  position: relative;
}

.login-info {
  position: absolute;
  top: 50px;
  right: -100px;
  width: 15rem;
  display: none;
  background-color: #ffc2d1;
}

.login-info::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 50%;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #ffc2d1 transparent;
  /* border-color: #ffc2d1; */
}

.profile-container:hover .login-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  margin: 1rem;
}
.login-btn {
  padding: 0.6rem 5rem;
  background-color: #fb4573;
  color: #ffe5ec;
  font-weight: 500;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.8;
}

.profile-sign-in {
  width: 100%;
  text-align: center;
  padding: 0 0.7rem;
}

.sign-in-container {
  color: black;
  font-size: 1.2rem;
}

.sign-in {
  display: block;
  color: #ff0040;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ff0040;
}

.setting-options-container {
  padding: 0.5rem 1rem;
}

.settings-options {
  list-style-type: none;
}

.settings-options::before {
  border-top: 1px solid grey;
}

.options {
  padding: 0.5rem;
  color: black;
}

.options:hover {
  color: #ff0040;
}

.options:active {
  color: #ff658c;
}

.favorites-amount {
  position: absolute;
  top: 7px;
  left: 27px;
  font-size: 0.8rem;
}

.cart-amount {
  position: absolute;
  top: -12px;
  left: 30px;
  font-size: 1rem;
}

.books-section {
  /* margin-bottom: 1rem; */
}

.books-header-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  margin: 5rem 2.7rem;
  margin-bottom: 0;
}

.books-section-h1 {
  color: #fb4573;
}

.page-turn-container {
  display: flex;
  align-items: center;
}

.start-page-btn {
  background-color: transparent;
  border: none;
  color: #f61950;
  font-weight: 600;
  margin-top: 0.1rem;
  cursor: pointer;
}

.page-p {
  border-right: 1px solid red;
  padding: 0 1rem;
}

.arrow-icon-btn {
  background-color: transparent;
  border: none;
}

.arrow-icon {
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 50%;
  font-size: 1.5rem;
  margin-left: 1rem;
  color: #fb4573;
}

.arrow-icon-disable {
  cursor: not-allowed;
  border: 1px solid grey;
  border-radius: 50%;
  font-size: 1.5rem;
  margin-left: 1rem;
  color: grey;
}

.arrow-icon:hover {
  opacity: 0.8;
  border: none;
  transform: scale(1.1);
}

.see-all-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding-left: 1rem;
  font-weight: 600;
}

.all-book-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.book-container {
  background-color: #ffffff;
  width: 190px;
  height: 340px;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid #fb4573;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.book-container:hover {
  box-shadow: 1px 1px 3px #fb4573;
}

.book-img {
  height: 200px;
  object-fit: contain;
}

.quick-view-btn {
  position: absolute;
  top: 57%;
  right: 10%;
  padding: 0.3rem 2rem;
  background-color: #ffdae3;
  border: 1px solid #fb4573;
  color: #f61950;
  font-weight: 600;
  cursor: pointer;
  display: none;
}

.quick-view-btn:hover {
  transform: scale(1.05);
}

.book-container:hover .quick-view-btn {
  display: block;
}

.book-details {
  text-align: left;
  padding-top: 1rem;
}

.book-name-h2 {
  font-size: 1rem;
}

.book-author-span {
  font-size: 0.8rem;
  color: rgb(63, 63, 63);
}

.average-rating-container {
  display: flex;
  margin: 0.3rem 0;
}

.average-rating-icon {
  color: gold;
}

.book-average-rating-span {
  padding-left: 0.3rem;
}

.book-quick-view-container {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.301);
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-quick-view {
  position: relative;
  background-color: #ffe2ea;
  /* display: flex;
  flex-direction: column; */
}

.cancel-btn {
  text-align: right;
  display: block;
  padding: 1rem;
  cursor: pointer;
}

.book-quick-view-details {
  display: flex;
  padding: 2rem;
}

.book-buy-container {
  text-align: center;
}

.quantity-container {
  padding: 1rem 1rem 2rem;
}

.quantity-input {
  width: 2rem;
  height: 1.5rem;
}

.decrease-btn,
.increase-btn {
  padding: 0.2rem 0.5rem;
  margin: 0 1rem;
  color: black;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.add-to-cart-btn,
.add-to-wishlist-btn {
  background-color: #fb4573;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  color: #ffe5ec;
}

.add-to-cart-btn:hover,
.add-to-wishlist-btn:hover,
.book-view-btn:hover {
  opacity: 0.8;
}

.book-info-container {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.book-name-h2 {
  padding: 0.5rem 0;
}

.book-info {
  color: rgb(55, 55, 55);
  padding-bottom: 1rem;
}

.book-view-btn {
  background-color: #fb4573;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  margin: auto 10rem;
  cursor: pointer;
  color: #ffe5ec;
}
